#rectangle {
    /* border: 10px solid black; */

    border-style: solid;
    border-width: 10px;
    border-color: black;
    
    border-top-style: double;

    border-left: 10px solid black;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    border-right: 10px solid black;

    border-bottom: 10px dashed black;
    border-top: 10px solid black;
    border-left: 10px dotted black;
    border-right: 10px double black;

    border: 10px solid black;
    border-color: black green yellow olive;

    outline: 10px solid #666;

    /* border-width: 50px 20px; */
    /* border-width: 50px 20px 30px; */
    /* border-width: 50px 20px 30px 10px; */
    
    border-width: 20px;
    border-radius: 5px 50px 0px 20px;
    transform: rotate(30deg);
}